<div class="route-planner">
  <div class="header">Квалификационное задание для разработчиков JavaScript</div>
  <div class="content">
    <div class="route-block">
      <input class="input-address" [value]="address" type="text" id="suggest" (keyup)="addressFind($event)" (keyup.enter)="addPoint(address)">
      <ul class="route" dragula="POINTS" [(dragulaModel)]="points">
        <li *ngFor="let point of points; let i = index" class="route__item" (click)="updateRoute()">
          {{ point.length <= 38 ? point : point.substr(0, 37) }} <button (click)="dellPoint(i)" class="button button__dell fas fa-trash-alt"></button>
        </li>
      </ul>
    </div>
    <div id="map" class="map"></div>
  </div>
</div>
